/*
 * This code is from Davide D'Osvaldo thesis
 */

.top{
	height:50%;
	border-bottom: solid black 1px;
}
.bottom{
	height:50%;
	border-top: solid black 1px;
}
.left{
	width:50%;
	border-right: solid black 1px;
}
.right{
	width:50%;
	border-left: solid black 1px;
}
