/*
 * This code is from Davide D'Osvaldo thesis
 */


ul li a{
	position:relative;
	display: block;
	transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	border-radius: 15px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	-o-border-radius: 15px;
	-ms-border-radius: 15px;
	border: 3px solid black;
}
.selected{
	background-color:black;
	color:white;
}
